---
import Layout from "@/layouts/Layout.astro";
import SimpleLayout from "@/components/layout/SimpleLayout";
import ListResources from "@/components/resources/ListResources";
import { readSiteJson } from "@/utils/json-data";

const resources = await readSiteJson<Resource[]>("resources.json");
---

<Layout
  title="Resources"
  description="These materials have been tremendously beneficial to me in my learning path. I hope you find these helpful as well!"
  canonicalPath="/resources"
>
  <SimpleLayout
    eyebrow="Curated"
    title="Resources"
    intro="Bookmarks, tutorials, and references I keep returning to. Organized by topic for easy scanning."
  >
    <div class="mt-8">
      <ListResources client:load resources={resources} />
    </div>
  </SimpleLayout>
</Layout>
