---
import Layout from "@/layouts/Layout.astro";
import SimpleLayout from "@/components/SimpleLayout";
import ListResources from "@/components/ListResources";
import { readSiteJson } from "@/utils/json-data";

const resources = await readSiteJson<Resource[]>("resources.json");
---

<Layout
  title="Resources"
  description="These materials have been tremendously beneficial to me in my learning path. I hope you find these helpful as well!"
  canonicalPath="/resources"
>
  <SimpleLayout
    title="Some excellent resources worth sharing"
    intro="These materials have been tremendously beneficial to me in my learning path. I hope you find these helpful as well!"
  >
    <div class="mt-16 sm:mt-20">
      <ListResources resources={resources} />
    </div>
  </SimpleLayout>
</Layout>
