---
import Footer from "@/components/Footer";
import SpotifyPlayingNow from "@/components/SpotifyPlayingNow.astro";
---

<footer class="mt-32">
  <div class="sm:px-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div
        class="border-t border-zinc-100 pt-8 pb-16 dark:border-zinc-700/40"
      >
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <SpotifyPlayingNow />
            <Footer client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
